/* ImageSlider.css */
.image-slider {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .image-slider img {
    width: 100%;
    height: 400px;
    object-fit:contain;
    margin-bottom: 20px;
  }
  
  .image-slider button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
  }
  
  .image-slider button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  